body {
    font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
    background-color: rgb(231, 231, 231);
    margin: 0px;
}

/*Header elements as well as authors*/
header {
    /*TODO:
        Change size to percentage*/
    text-align: center;
    position: sticky;
    top: 0px;
    background-color: lightblue;
    border-radius: 0px 0px 12px 12px;
    box-sizing: border-box;
    width: 100%;
}
.main-website-title {
    font-size: 48px;
    margin: 0%;
    padding: 5px 5px 0px 5px;
}
.authors {
    font-size: 24px;
    padding: 0px 5px 10px 5px;
    margin: 0px 0px 10px 0px;
}
a.authors-links {
    text-decoration: none;
    transition: 0.15s;
    color: rgb(61, 61, 61);
}
a.authors-links:visited {
    text-decoration: none;
}
a.authors-links:hover {
    color:aliceblue;
}
a.authors-links:active {
    text-decoration: none;
}

/*Upload Image of Fruit button*/
.image-button-container{ /*the div for the button*/
    margin-top: 10%;
    margin-bottom: 10%;
}
.image-upload-container-button { /*the button itself*/
    border: 0px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    border-radius: 8px;
    background-color: orange;
    color: black;
    font-weight: bold;
    transition: 0.3s;
    font-size: 150%;
}
button.image-upload-container-button:hover {
    background-color: rgb(255, 200, 100);
}

/* Upload and Preview Image Div */
.image-upload-container {
    background-color: lightgray;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: fit-content;
    border-radius: 12px;
    padding: 20px;
}

/* Properties borrowed from "Styling & Customizing File Inputs the Smart Way" */
/* Image File Upload Label + Button */
/* hide later */
#image-upload {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.image-upload-label {
    text-align: center;
    border: 2px dashed black;
    border-radius: 12px;
    background-color: darkgray;
    padding: 15px;
    font-weight: bold;
    font-size: 130%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    transition: 0.3s;
}
label.image-upload-label:hover {
    background-color: rgb(212, 212, 212);
    cursor: pointer;
}

/* OR text in the div */
#image-upload-conatiner-or {
    text-align: center;
    font-weight: bold;
    font-size: 130%
}

/* Upload Image URL */
.image-upload-url-container{
    display:flex;
    justify-content: flex-start;
}
#image-upload-url-input{
    border: none;
    border-radius: 12px 0px 0px 12px;
    padding: 10px;
    display: block;
    flex-grow: 10;
}
.image-url-submit-button {
    border: none;
    border-radius: 0px 12px 12px 0px;
    background-color: orange;
    font-family: inherit;
    font-weight: bold;
    font-size: 110%;
    padding: 10px;
    flex-grow: 1;
    transition: 0.3s;
}
button.image-url-submit-button:hover {
    background-color: rgb(255, 200, 100);
}

/* Preview Image */
#image-preview-container {
    margin-bottom: 20px;
}
.image-preview-buttons-container {
    display: flex;
    justify-content: space-around;
    padding: 4px;
    gap: 12px;
}
.image-preview-buttons {
    border: none;
    border-radius: 8px;
    font-family: inherit;
    font-weight: bold;
    font-size: 105%;
    padding: 15px;
    transition: 0.3s;
}
#upload-new-image-button {
    background-color: darkgray;
}
button#upload-new-image-button:hover {
    background-color: rgb(231, 231, 231);
}
#submit-preview-image-button {
    background-color: orange;
}
button#submit-preview-image-button:hover {
    background-color: rgb(255, 200, 100);
}

/*Footer*/
/*.aboutsection{
    background-color: darkgray;
}*/
#about-section-button {
    display:block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 50px;
    background-color: inherit;
    padding: 15px;
    font-family: inherit;
    font-size: 120%;
    transition: 0.3s;
}
button#about-section-button:hover {
    background-color: darkgray;
}
/* Probably for scripting, change background color of div when button hover*/

.about-section-container {
    display:flex;
    gap: 10px;
    background-color: darkgray;
    justify-content: space-around;
}

/* Possibly change width or flex-grow of each div in the section container to fix sizing*/

.about-section-contents {
    padding: 10px;
}